<html>
<body>
    <center><form action="/new_user">
        <label for="email">Enter Your Email</label>
        <input type="text" name="email" placeholder="Email" required/>
        <br></br>
        <label for="password">Enter Your Password</label>
        <input type="password" name="password" placeholder="Password" required/>
        <br></br>
        <label for="zipcode">Enter Your First Name</label>
        <input type="text" name="first_name" placeholder="First Name"/>
        <br></br>
        <input type="submit" value="SUBMIT"/>
    </form></center>

    <p> {{message}} </p>

</body>
</html>