
<!doctype html>
<html lang="en">
<head>
  
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

</head>
<body><center>


<div id = "save_feedback"></div>


<script type="text/javascript">

// BUG!!! displays asana before fading in
var asana_list = {{ asana_list | safe }};
var asana_time = {{ asana_time | safe }};

var t = 0;
var x = 0;


for (var i = 0; i < asana_list.length; i++){
    console.log(t)


    setTimeout(function(){
        console.log(i)
        console.log(asana_list[x])
        // BUG!!! fading out too fast
        $('#save_feedback').fadeOut(1000);
        $('#save_feedback').html('<img src="'+asana_list[x]+'"/>').hide();
        $('#save_feedback').fadeIn(1000);


        x++

        if (x==i){
                document.thisform.display();
            }
    },t);

    console.log(asana_time[i])
    t=t+(asana_time[i]*4000)
}


</script>

<!-- BUG!!!!!  Needs to have save option after routine excecutes    -->
<!-- wrap form in div w 'id', in css div id style display none, in java set $('id').show--> 
        <form name="thisform" action="/add_routine">
            <input type="hidden" name="asana_list" value="{{ asana_list }}"/>
            <input type="hidden" name="sub_routine_list" value="{{ sub_routine_list }}"/>
            {% if not saved %}
            <input type="submit" value="Save"/>
            {% endif %}
        </form>

        <form action="/rate_routine">
            <input type="hidden" name="asana_list" value="{{ asana_list }}"/>
            <input type="hidden" name="sub_routine_list" value="{{ sub_routine_list }}"/>
            {% if not saved %}
            <input type="submit" value="Train"/>
            {% endif %}
        </form></center>
</body>
</html>




