
<!doctype html>
<html lang="en">
<head>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <style>

      .submit{
        display : none;
      }

  </style>
</head>
<body>
    <center>
        <div id = "save_feedback"></div>
        <div class = "submit">
            <form action="/add_routine">
                <input type="hidden" name="asana_list" value="{{ asana_list }}"/>
                <input type="hidden" name="sub_routine_list" value="{{ sub_routine_list }}"/>
                {% if not saved %}
                <input type="submit" value="Save"/>
                {% endif %}
            </form>
        </div>
        <div class = "submit">
            <form action="/rate_routine">
                <input type="hidden" name="asana_list" value="{{ asana_list }}"/>
                <input type="hidden" name="sub_routine_list" value="{{ sub_routine_list }}"/>
                {% if not saved %}
                <input type="submit" value="Train"/>
                {% endif %}
            </form>
        </div>
    </center>
    <script type="text/javascript">
        var asana_list = {{ asana_list | safe }};
        var asana_time = {{ asana_time | safe }};
        var t = 0;
        var x = 0;

        for (var i = 0; i < asana_list.length; i++){
            setTimeout(function(){
                $('#save_feedback').fadeOut(1000,function(){
                    $('#save_feedback').html('<img src="'+asana_list[x]+'"/>').hide(); 
                    $('#save_feedback').fadeIn(1000);   

                    x++

                    if (x==i){
                        $('#save_feedback').fadeOut(1000,function(){
                            $('.submit').show();
                        });

                    
                    }       
                });

               
                
            },t);

            t=t+(asana_time[i]*4000)
        }
    </script>
</body>
</html>




