<html>
<body>
    <center>
        <p>
        <form action = "/login">
            <div id = "login"><h3><strong> Login Below </strong></h3></div>
            <label for ="email"> Enter Email </label>
            <input type = "text" name = "email" placeholder = "Email" required/>

            <label for ="password"> Enter Password </label>
            <input type = "password" name = "password" placeholder = "Password" required/>
            <input type = "submit" value = "Log In"/>
        </form>
        </p>
        
        <a href="/display_routine"><button>Get a random Yoga routine</button></a><br>
        <a href="/add_asana"><button>Add Asana</button></a><br>


        <form action="/display_asana">
            <input type="text" name="name" placeholder="Enter Asana Name"/>
            <input type="submit" value="Submit"/>
        </form>

        


</body>
</html>