<html>
<body>
    <center>            
        <form action="/train_routine" method="POST">
            <input type="hidden" name="asana_list" value="{{ asana_list | join(",")}}"/> 

            {% for asana in asana_list %}
            {{asana}} 
            <input type="checkbox" name="{{asana}}" value="{{1}}" />
            <br>
            {% endfor %}

            <!-- // // BUG!!! displays asana before fading in
            // var asana_list = {{ asana_list | safe }};
            // console.log(asana_list)

            // var x = 0;
            // for (var i = 0; i < asana_list.length; i++){
            

            // asana_list[x]
            // x++
            // }

 -->

 -->
            <input type="submit" value="SUBMIT"/>
        </form>
    </center>

   
</body>
</html>